
html, body {
	height: 100%;
	width: 960px;
	background-image: url('../images/ricepaper_v3.png');
}

.page-wrap {
	min-height: 100%;
	margin-bottom: -75px;/*must be equal to footer height*/
}

.page-wrap:after {
	content:"";
	display: block;
}

.site-footer, .page-wrap:after {
	height:75px;
}

.site-footer {
	background: #666666;
}

.siteHeader {
	margin-top: -19px;
	background-color: #ffffff;
	padding-bottom: 21px;
}

section {
	width: 410px;
	background-color: #ffffff;
	margin-left: 135px;
	padding: 20px;
	display: inline-block;	
}

.name {
	margin-right: 320px;
	margin-left: 125px;
	padding:20px;
	background-color: #4aaaa5;
	color: #ffffff;
	font-family: Georgia, Times, serif;
	font-size: 25px;
	font-weight: bold;
}

.nameLink {
	text-decoration: none;
	color: #ffffff;
}

nav { 
	padding: 10px;
	border-bottom: 2px solid #cccccc;
	margin-bottom: 20px;	
}

ul {
	margin-top: 30px;
}

li {
	margin: 5px 5px 5px 5px;
	display: inline;
	font-size: 15px;
	font-family: arial, Helvetica, sans-serif;
}

.navLink {
	text-decoration: none;
	color: #cccccc;
}
a.navLink:hover {
	text-decoration: underline;
}

.contentHead {
	display: block;
	padding-bottom: 5px;
	margin-bottom: 20px;
	text-align: left;
	font-size: 35px;
	font-weight: bold;
	color: #4aaaa5;
	background-color: #ffffff;
	border-bottom: 2px solid #dddddd;	
}

img {
	float: left;
	margin-right: 20px;
	height: 200px;
	width: 200px;
}

.aboutPara{
	padding-top: 20px;
	font-family: arial, Helvetica, sans-serif;
	line-height: 1.618;
}

aside {
	float: right;
	margin-right: 135px;
}

.connectTable {
	background-color: #ffffff;
}

.portTable {
	margin-right: auto;
	margin-left: auto;
}

tbody {
	padding: 20px;
}

th {
	color: #4aaaa5;
	font-weight: bold;
	font-size: 18px;
	background-color: #ffffff;
	padding: 20px;
	border-bottom: 2px solid #cccccc;
}

.social {
	height: 50px;
	width: 50px;
	margin: 5px;
}

a.socialLink:hover {
	outline: 2px solid #cccccc;
	outline-offset: 3px;
}

.imgPort {
	height: 150px;
	width: 150px;
	padding-bottom: 20px;
}

.bannerPort{
	position: absolute;
	font-family: Arial, Helvetica, Helvetica Neue, sans-serif;
	font-size: 16px;
	color: #ffffff;
	height: 30px;
	width: 150px;
	margin-top: 107px;
	padding: 0px;
	text-align: center;
	padding-top: 10px;
	background-color: #4aaaa5;
}

form {
	display: block;
	width: 450px;
	height: 350px;
}

.form {
	display: block;
	margin:10px 0px;
	font-family: Arial Helvetica sans-serif;
	color: #cccccc;
}

.submit {
	height: 20px;
	width: 55px;
	margin-top: 50px;
	background-color:#4aaaa5;
	color: #ffffff;
	font-family: Arial Helvetica sans-serif; 
}

footer {
	text-align: center;
	margin-top: 75px;
	padding-top: 37.5px;
	border-top: 2px solid #dddddd;
	font-size: 10px;
	color: #ffffff;
}

@media screen and (max-width: 980px) {

	section {
		width: 300px;
	}

	.contentHead {
		margin-bottom: 10px;
	}

	.about980px {
		margin: 0px 50px 20px 22px;
	}

	.aboutImg980px {
		height: 250px;
		width: 250px;
	}
	
	.tableData {
		display: block;
	}

	.imgPort {
		height: 250px;
		width: 300px;
	}

	.bannerPort {
		width: 300px;
		margin-top: 205px;
	}

	.overlap {
		margin-top: 475px;
	}
}


@media screen and (max-width: 768px) {

	section {
		display: block;
		width: 340px;
	}

	.about980px {
		margin: 0px 10px 10px 0px;
	}

	.imgPort {
		height: 150px;
		width: 150px;
	}

	.tableData {
		display: inline-block;
	}

	.bannerPort {
		width: 150px;
		margin-top: 107px;
	}

	aside {
		display: block;
		margin-left: 135px;
		margin-right: 0px;
		margin-top: 30px;
		float: none;
	}

	.name {
		margin-right: 12px;
	}

	.connectTable {
		width: 380px;
	}

	.socialTH {
		padding-right: 222px;
	}

	.socialTD{
		width: 265px;
		text-align: left;
	}

	input {
		size="55"
	}
	}
}

@media screen and (max-width: 640px) {
	
	.siteHeader {
		margin-top: -30px;
	}

	nav {
		padding: 0px;
	}

	.aboutImg980px {
		height: 300px;
		width: 300px;
		margin: 0px 10px 10px 20px;
	}

	.li {
		margin-left: 138px;
	}

	.navLink2 {
		margin-left: 98.49px;
	}

	.navLink3 {
		margin-left: 100px;
	}

	.name {
		display: block;
		margin-bottom: 23px;
		margin-left: 0px;
		padding-left: 249px;
	}

	.imgPort {
		height: 250px;
		width: 300px;
	}

	.bannerPort {
		width: 300px;
		margin-top: 205px;
	}
	
}
